# Local
BOT_TOKEN=your_bot_token_here
DATABASE_URL="file:./data/tences.db"
PORT=8100
HOST=::
POLLING=false

# Alwaysdata (panelda Environment bo'limiga qo'ying):
# BOT_TOKEN=your_bot_token_here
# DATABASE_URL="file:/home/asadbektg/tences_new/data/tences.db"
# PORT=8100
# HOST=::
# POLLING=false